@using ErmakovAppDiplom.Repositories.IRepositories
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject IUserRepository _userRepository

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ErmakovAppDiplom</title>
    <link href="~/css/index.css" rel="stylesheet" />
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ErmakovAppDiplom.styles.css" asp-append-version="true" />


    <!--icons-->
    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">

        <!--  Иконка: плюс (добавить) -->
        <symbol id="icon-plus" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14"></path>
            <path d="M12 5v14"></path>
        </symbol>

        <!-- Иконка: Карандаш в квадрате (Редактировать) -->
        <symbol id="icon-edit" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7" />
            <path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z" />
        </symbol>

        <!-- Иконка: Мусорка (Удалить) -->
        <symbol id="icon-trash" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 6h18" />
            <path d="M19 6v14c0 1-1 2-2 2H7c-1 0-2-1-2-2V6" />
            <path d="M8 6V4c0-1 1-2 2-2h4c1 0 2 1 2 2v2" />
            <line x1="10" y1="11" x2="10" y2="17" />
            <line x1="14" y1="11" x2="14" y2="17" />
        </symbol>

        <!-- Иконка: Кредитная карта -->
        <symbol id="icon-credit-card" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </symbol>

        <!-- Иконка: Сетевой график (permissions/settings) -->
        <symbol id="icon-network" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </symbol>

        <!-- ПК -->
        <symbol id="icon-computer" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M9.75 17L9 20l-1 1h8l-1-1-.75-3M3 13h18M5 17h14a2 2 0 002-2V5a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
        </symbol>

        <!-- Сервер -->
        <symbol id="icon-server" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M5 12h14M5 12a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v4a2 2 0 01-2 2M5 12a2 2 0 00-2 2v4a2 2 0 002 2h14a2 2 0 002-2v-4a2 2 0 00-2-2m-2-4h.01M17 16h.01" />
        </symbol>

        <!-- Сетевое оборудование -->
        <symbol id="icon-internet-settings" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
        </symbol>

        <!-- Принтер -->
        <symbol id="icon-printer" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M7 18H6.2C5.0799 18 4.51984 18 4.09202 17.782C3.71569 17.5903 3.40973 17.2843 3.21799 16.908C3 16.4802 3 15.9201 3 14.8V10.2C3 9.0799 3 8.51984 3.21799 8.09202C3.40973 7.71569 3.71569 7.40973 4.09202 7.21799C4.51984 7 5.0799 7 6.2 7H7M17 18H17.8C18.9201 18 19.4802 18 19.908 17.782C20.2843 17.5903 20.5903 17.2843 20.782 16.908C21 16.4802 21 15.9201 21 14.8V10.2C21 9.07989 21 8.51984 20.782 8.09202C20.5903 7.71569 20.2843 7.40973 19.908 7.21799C19.4802 7 18.9201 7 17.8 7H17M7 11H7.01M17 7V5.4V4.6C17 4.03995 17 3.75992 16.891 3.54601C16.7951 3.35785 16.6422 3.20487 16.454 3.10899C16.2401 3 15.9601 3 15.4 3H8.6C8.03995 3 7.75992 3 7.54601 3.10899C7.35785 3.20487 7.20487 3.35785 7.10899 3.54601C7 3.75992 7 4.03995 7 4.6V5.4V7M17 7H7M8.6 21H15.4C15.9601 21 16.2401 21 16.454 20.891C16.6422 20.7951 16.7951 20.6422 16.891 20.454C17 20.2401 17 19.9601 17 19.4V16.6C17 16.0399 17 15.7599 16.891 15.546C16.7951 15.3578 16.6422 15.2049 16.454 15.109C16.2401 15 15.9601 15 15.4 15H8.6C8.03995 15 7.75992 15 7.54601 15.109C7.35785 15.2049 7.20487 15.3578 7.10899 15.546C7 15.7599 7 16.0399 7 16.6V19.4C7 19.9601 7 20.2401 7.10899 20.454C7.20487 20.6422 7.35785 20.7951 7.54601 20.891C7.75992 21 8.03995 21 8.6 21Z"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </symbol>

        <!-- Камера -->
        <symbol id="icon-camera" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 10l4.553-2.276A1 1 0 0121 8.618v6.764a1 1 0 01-1.447.894L15 14M5 18h8a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z"></path>
        </symbol>

        <!-- Пользователь -->
        <symbol id="icon-user" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <path d="M19 21v-2a4 4 0 0 0-4-4H9a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle>
        </symbol>

        <!-- Поиск (лупа) -->
        <symbol id="icon-search" viewBox="0 0 24 24" fill="none" stroke="currentColor">
            <circle cx="11" cy="11" r="8"></circle>
            <path d="m21 21-4.3-4.3"></path>
        </symbol>
    </svg>

</head>
<body>
    <header>
        <div class="container header-container">
            <div style="gap: 1.5rem; align-items: center; display: flex">
                <a asp-action="Index" asp-controller="Home" class="logoLink">
                    <span class="logoSpan">АВТОПАРТНЕР</span>
                </a>
                <nav class="navBar">
                    <a asp-controller="Home" asp-action="Index" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString()=="Home"?"active":"")">Главная</a>
                    <a asp-action="Index" asp-controller="EquipmentItem" class="nav-link  @(ViewContext.RouteData.Values["controller"]?.ToString()=="EquipmentItem"?"active":"")">Оборудование</a>
                    <a asp-action="Index" asp-controller="OfficeMap" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString()=="OfficeMap"?"active":"")">Карта офиса</a>
                    <a asp-action="Index" asp-controller="User" class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString()=="User"?"active":"")">Пользователи</a>
                    @* <a class="nav-link">Настройки</a> *@
                </nav>
            </div>
            <div style="align-items: center; display: flex">
                <div style="display: block">
                    <svg width="1rem" height="1rem" class="search-icon">
                        <use href="#icon-search"></use>
                    </svg>
                    <input type="text" name="search" value="" class="search-input" placeholder="Поиск..." />
                </div>
                <button class="btn notification-button">
                    <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-component-line="44" data-component-content="%7B%22className%22%3A%22h-5%20w-5%20text-muted-foreground%22%7D"><path d="M6 8a6 6 0 0 1 12 0c0 7 3 9 3 9H3s3-2 3-9"></path><path d="M10.3 21a1.94 1.94 0 0 0 3.4 0"></path></svg>
                </button>
                <div class="nav-right-btns">
                    <button class="btn ">
                        <svg class="icon2" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" data-component-line="42" data-component-content="%7B%22className%22%3A%22h-5%20w-5%20text-muted-foreground%22%7D"><path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"></path></svg>
                    </button>
                    <button class="btn" id="popoverButton">
                        <svg class="icon2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon2">
                                <use href="#icon-user"></use>
                            </svg>
                        </svg>
                    </button>
                    <div class="popover" id="popover">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var user = await UserManager.GetUserAsync(User);
                            var currentUser = _userRepository.GetById(user.Id);

                            <div class="user-info" style="font-weight: 600; color: black">
                                @currentUser.LastName @currentUser.FirstName @currentUser.SecondName
                            </div>
                            <div>
                                @(currentUser.Post?.Name == null ? "" : currentUser.Post.Name)
                            </div>
                        }
                        <div style="margin-top: 10px">
                            <a asp-action="Logout" asp-controller="Auth" style="color: red">Выйти</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="User">Пользователи</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Category">Категории</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="EquipmentItem">Инвентарь</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="Attribute">Атрибуты</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-action="Index" asp-controller="ToDoList">Список задач</a>
                            </li>
                            *@
    </header>


    <main class="container">
        @RenderBody()
    </main>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - ErmakovAppDiplom - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        const button = document.getElementById('popoverButton');
        const popover = document.getElementById('popover');

        button.addEventListener('click', () => {
          const rect = button.getBoundingClientRect();
          popover.style.left = rect.left + window.scrollX + "px";
          popover.style.top = rect.bottom + window.scrollY + "px";

          popover.style.display = (popover.style.display === 'block') ? 'none' : 'block';
        });

        // Скрытие при клике вне
        document.addEventListener('click', (e) => {
          if (!button.contains(e.target) && !popover.contains(e.target)) {
            popover.style.display = 'none';
          }
        });
    </script>
    @* <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
