@model List<EquipmentItem>
@using ErmakovAppDiplom.Repositories.IRepositories;

@{
    ViewData["Title"] = "Инвентарь";
    var categories = ViewBag.Categories;
    var users = ViewBag.Employees;

}
<head>
    <link href="~/css/equipment.css" rel="stylesheet" />
</head>
<div>
    <div class="main-content">
        <div class="content-header">
            <div>
                <h3>Оборудование</h3>
                <p>Управление всем оборудованием компании</p>
            </div>
            <button onclick="openItemModal()">
                <svg width="1rem" height="1rem" class="w-6 h-6 text-red-500">
                    <use href="#icon-plus"></use>
                </svg>
                Добавить оборудование
            </button>
        </div>
        <div class="content-body">
            <form class="filter-content">
                <div class="filter-search-container">
                    <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400 h-4 w-4" data-lov-id="src/pages/Equipment.tsx:409:14" data-lov-name="Search" data-component-path="src/pages/Equipment.tsx" data-component-line="409" data-component-file="Equipment.tsx" data-component-name="Search" data-component-content="%7B%22className%22%3A%22absolute%20left-3%20top-1%2F2%20transform%20-translate-y-1%2F2%20text-gray-400%20h-4%20w-4%22%7D"><circle cx="11" cy="11" r="8"></circle><path d="m21 21-4.3-4.3"></path></svg>
                    <input class="filter-search-container-input" type="type" name="Search" value="" placeholder="Поиск по названию, модели, инвентарному номеру..." />
                </div>
                <div style="display: flex; gap: .5rem;">
                    <div class="filter-status-button-container">
                        <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-filter h-4 w-4 text-gray-400" data-lov-id="src/pages/Equipment.tsx:419:16" data-lov-name="Filter" data-component-path="src/pages/Equipment.tsx" data-component-line="419" data-component-file="Equipment.tsx" data-component-name="Filter" data-component-content="%7B%22className%22%3A%22h-4%20w-4%20text-gray-400%22%7D"><polygon points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"></polygon></svg>
                        <select class="types-select" name="Status">
                            <option value="all">Все статусы</option>
                            <option value="status1">Работает</option>
                            <option value="status2">На обслуживании</option>
                            <option value="status3">Неисправен</option>
                        </select>
                    </div>
                    <select class="types-select" name="CategoryId">
                        <option value="all">Все категории</option>
                        @foreach(Category category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                    <button type="submit" class="filter-button">Фильтр</button>
                </div>
            </form>
            <div class="content">
                <div class="equipment-tab-list">
                    <button class="task-tab-button active" data-tab="spisok" role="tab" aria-selected="true">Список</button>
                    <button class="task-tab-button" role="tab" data-tab="plitka">Плитка</button>
                </div>
                <div id="tabContents">
                    <div class="task-tab-content active" id="tab-spisok">
                        <table class="table-spisok">
                            <thead>
                                <tr style="background-color: #f9fafb;">
                                    <th>Тип</th>
                                    <th>Название/Модель</th>
                                    <th>Инв. номер</th>
                                    <th>Статус</th>
                                    <th>Местоположение</th>
                                    <th>Сотрудник</th>
                                    <th>Действия</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach(EquipmentItem item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div style="align-items: center;display: flex;">
                                                <div class="table-icon">
                                                    <svg class="w-6 h-6 text-red-500">
                                                        @if (item.Category.Name.Equals("Компьютер") || item.Category.Name.Equals("Монитор"))
                                                        {
                                                            <use href="#icon-computer" />
                                                        }
                                                        else if (item.Category.Name.Equals("Принтер"))
                                                        {
                                                            <use href="#icon-printer" />
                                                        }
                                                        else if (item.Category.Name.Equals("Сервер"))
                                                        {
                                                            <use href="#icon-server" />
                                                        }
                                                        else if (item.Category.Name.Equals("Сетевое оборудование")) 
                                                        {
                                                            <use href="#icon-internet-settings" />
                                                        }
                                                        else if (item.Category.Name.Equals("Камера"))
                                                        {
                                                            <use href="#icon-camera"/>
                                                        }
                                                    </svg>
                                                </div>
                                                <div style="margin-left: 1rem">
                                                    <div class="equipment-category" style="font-size: .875rem;line-height: 1.25rem;color: black;font-weight: 500;">
                                                        @item.Category.Name
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="equipment-name">
                                                @item.Name
                                            </div>
                                            <div class="equipment-type">
                                                @item.Model
                                            </div>
                                        </td>
                                        <td>@item.InventoryNumber</td>
                                        <td>
                                            <div class="status-container work">
                                                @item.Status
                                            </div>
                                        </td>
                                        <td>
                                            <div style="font-size: .875rem; line-height: 1.25rem; color: black">
                                                @item.SubLocation.Location.Name
                                            </div>
                                            <div style="font-size: .875rem;line-height: 1.25rem;">
                                                @item.SubLocation.Name
                                            </div>
                                        </td>
                                        <td>
                                            @item.User.ToString()
                                        </td>
                                        <td>
                                            <button class="table-button edit">
                                                <svg class="w-4 h-4 text-blue-600 mr-1" width="1rem" height="1rem">
                                                    <use href="#icon-edit" />
                                                </svg>
                                                Изменить
                                            </button>
                                            <button class="table-button delete">
                                                <svg class="w-4 h-4 text-red-600 mr-1" width="1rem" height="1rem">
                                                    <use href="#icon-trash" />
                                                </svg>
                                                Удалить
                                            </button>
                                        </td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="task-tab-content" id="tab-plitka">
                        плитка
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="addItemModal">
    <div class="modal-content">
        <div>
            <h2>
                Добавить новое оборудование
            </h2>
        </div>
        <form>
            <div class="class=" modal-advertisement-form"">
                <div>
                    <label>Тип оборудования</label>
                    <select>
                        @foreach(Category category in categories)
                        {
                            <option value="@category.Id">@category.Name</option>
                        }
                    </select>
                </div>
                <div>
                    <label for="name">Название</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div>
                    <label for="content">Модель</label>
                    <input type="text" id="content" name="content" required></input>
                </div>

                <div>
                    <label for="InventoryNumber">Инвентарный номер</label>
                    <input type="text" id="InventoryNumber" name="InventoryNumber" />
                </div>
                <div>
                    <label>Статус</label>
                    <select>
                        <option>Рабочее</option>
                        <option>На обслуживании</option>
                        <option>Неисправно</option>
                    </select>
                </div>
                <div>
                    <label>Номер кабинета</label>
                    <select>
                        <option>300</option>
                    </select>
                </div>
                <div>
                    <label>Ответсвенный сотрудник</label>
                    <select>
                        @foreach(User user in users)
                        {
                            <option>@user.LastName @user.FirstName @user.SecondName</option>
                        }
                    </select>
                </div>
            </div>
            <div style="justify-content: flex-end; flex-direction: row; display: flex;">
                <button class="button cancel-modal">Отменить</button>
                <button type="submit" class="button submit-advertisement">Сохранить</button>
            </div>
        </form>
        <button class="modal-close" onclick="closeItemModal()">&times;</button>
    </div>
</div>

@section Scripts {
    <script>
            document.querySelectorAll('.task-tab-button').forEach(button => {
            button.addEventListener('click', () => {
                // Снимаем активность со всех кнопок
                document.querySelectorAll('.task-tab-button').forEach(btn => btn.classList.remove('active'));
                button.classList.add('active');

                // Меняем вкладку
                const tab = button.getAttribute('data-tab');

                document.querySelectorAll('.task-tab-content').forEach(content => {
                    content.classList.remove('active');
                });

                const activeTab = document.getElementById('tab-' + tab);
                if (activeTab) {
                    activeTab.classList.add('active');
                }
            });
        });
        function openItemModal() {
            document.getElementById('addItemModal').classList.add('active');
        }

        function closeItemModal() {
            document.getElementById('addItemModal').classList.remove('active');
        }

        // Закрытие модального окна при клике вне контента
        document.getElementById('addItemModal').addEventListener('click', function(e) {
            if (e.target === this) {
                closeItemModal();
            }
        });
    </script>
}